### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

*.sdf

# Windows shortcuts
*.lnk

#Map compile stuff
*.log
*.prt
*.vmx
mapsrc/*.bsp
marpsrc/**/*.bsp


#Source stuff
*config.cfg
*.ain
*.cache
*.tmp
*server_blacklist.txt
GameState.txt
*_gamestats.dat
stats.txt
voice_ban.dt



# Visual Studio
.vs/
vs15/
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
vc120.pdb
vc140.pdb
vc141.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.vcxproj.vpc_crc
*.sln
*.vpc.sentinel
*.VC.db
*.VC.opendb
*.VC.db-*
 
# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak
 
# Specific Source build products
client.pdb
client.lib
server.pdb
server.lib
 
client.so
client.so.dbg
server.so
server.so.dbg
server_srv.so
server_srv.so.dbg
 
client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/
 
Release_mod_hl2/   
Debug_mod_hl2/
Release_hl2/   
Debug_hl2/
Release_mod_episodic/  
Debug_mod_episodic/
Release_episodic/  
Debug_episodic/
Release_mod_hl2mp/ 
Debug_mod_hl2mp/
Release_hl2mp/ 
Debug_hl2mp/
vgui_controls/Debug/
vgui_controls/Release/
mathlib/Debug/
mathlib/Release/
raytrace/Debug/
raytrace/Release/
tier1/Debug/
tier1/Release/
Release_mod_smod/  
Debug_mod_smod/
Release_smod/  
Debug_smod/
Release_smod13/
Debug_smod13/
 
# files generated by running a mod
config.cfg
ServerConfig.vdf
modelsounds.cache
*.sound.cache
GameState.txt
stats.txt
voice_ban.dt
demoheader.tmp
console.log
user_custom/
sound.cache
save/
downloadlists/
download/
downloads/
graphs/
screenshots/
ep1_gamestats.dat
server_blacklist.txt
vmt.txt
 
# shader files
*.tmp
makefile.*
inclist.txt
vcslist.txt
uniquefilestocopy.txt
*.inc
filestocopy.txt
Debug_dx9_smod13/
Release_dx9_smod13/
Debug_dx9/
Release_dx9/
fxctmp9/
fxctmp9_tmp/
 
game_shaders_dx9.pdb
game_shaders_dx9.dll
game_shaders_dx9.lib
game_shaders_dx9.so.dbg
game_shaders_dx9.so
game_shaders_dx9.so.dbg
game_shaders_dx9.dylib
game_shaders_dx9.dylib.dSYM/
 
filelistgen.txt
filelist.txt
Debug_shader_editor_2013/
Release_shader_editor_2013/
Debug_procshader_2013/
Release_procshader_2013/
 
# library files
src/lib/public/mathlib.lib
src/lib/public/raytrace.lib
src/lib/public/tier1.lib
src/lib/public/vgui_controls.lib
 
# misc files
fgdlib.lib
src/utils/sapi51/Samples/VB/TTSAppVB/ttsapp.RES
_Crowbar.exe - Shortcut.lnk
merge/
src2013
*.stackdump


tools/config